
/* General */

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Roboto&display=swap&family=Inconsolata&display=swap');

:root {
  --primary-color: #2f2a3a;
  --secondary-color: #c9bfc9;
  --tertiary-color: #f8f8f6;
  --button-text-color: #a89ba8;
  --button-color: #2f2a3a;
  --button-color-border: #000000;
  --button-color-active: #000000;
  --button-color-border-active: #000000;
  --heading-color: #000000;
  --text-color: #000000;
  --code-background-color: #c9bfc9;
}

h1 {
  font-family: 'Contrail One', cursive;
  color: var(--heading-color);
  font-size: 100px;
}

h3 {
  color: var(--text-color);
  font-size: 30px;
}

body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background-color: var(--primary-color);
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: var(--text-color);
    background-color: var(--code-background-color);
    border-radius: 4px;
}


#small_well {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    border-radius: 40px;
    box-shadow: none;
}

#big_well {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 40px;
    box-shadow: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}



/* Label for D3, ggplot, seaborn choice & about button */

.control-label{
  font-size: 30px;
  color: var(--button-text-color);
  background-image: none
}


/* D3, ggplot or seaborn, & about button */

.btn-default {
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: var(--button-text-color);
    background-color: var(--button-color);
    border-color: var(--button-color-border);
    border-radius: 18px;
}


.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    color: var(--button-text-color);
    background-color: var(--button-color-active);
    background-image: none;
    border-color: var(--button-color-border-active);
    box-shadow: none;
}


/* Extra options - toggle */


#toggleOptions {
  color: var(--button-text-color);
  background-color: var(--button-color);
  border-color: var(--button-color-border);
}

#toggleOptions:hover {
  color: var(--button-text-color);
  background-color: var(--button-color-active);
  border-color: var(--button-color-border-active);
}

/* Background for strip with language options*/

.selectize-input {
  padding: 20px;
  background: var(--tertiary-color);
  border-color: #e8e8e8;
  width: 15%;

}

/* Options in dropdown */

.selectize-dropdown, .selectize-dropdown.form-control {
  background: var(--secondary-color);
  border: var(--tertiary-color);
  font-size: 30px;
  padding: 10px;
  color: var(--text-color);
}

.option:hover {
  background: var(--tertiary-color);
  border: #e0e0e0;
  color: var(--button-color-active);
}

/* Language options size etc.*/

.selectize-control.multi .selectize-input > div {
  font-size: 30px;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
}


#about {
  border: none;
  background: none;
  color: var(--tertiary-color);
}

#about:hover {
  border:none;
  background: none;
  color: var(--secondary-color);
}


/* About pop-up */
.about_modal {
  border-radius: 40px;
  background-color: black;
}

/* About pop-up big text */

.about_modal h2 {
  font-size: 4em;
  color: var(--tertiary-color);
}

/* About pop-up small text */

.about_modal p {
  font-size: 2em;
  color: var(--tertiary-color);
}




/* Custom colours for each programming language option */

.selectize-control.multi .selectize-input > div[data-value='C/C++']{
background: #00599C;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value='C#']{
background: #813084;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Perl]{
background: #113E62;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Rust]{
background: #000000;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Scala]{
background: #DE3424;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Swift]{
background: #E94F37;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=R]{
background: #2566B5;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Python]{
background: #336994;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=JavaScript]{
background: #F3D23C;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Julia]{
background: #369325;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Ruby]{
background: #B01E00;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Java]{
background: #F8981E;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Matlab]{
background: #F0800E;
color: white;
}
