@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Roboto&display=swap');

/*#seaborn_barplot {
/*  padding: 0px;
/*}*/

#my_text {
  align-items: "left";
}

body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

h1 {
  font-family: 'Contrail One', cursive;
  color: black;
  font-size: 70px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 30px;
}

.control-label{
  font-size: 30px;
}

.btn-default {
color: #C7244E;
background-color: #F9F2F4;
border-color: white;
}

.btn-default:hover {
color: white;
background-color: #D9534F;
border-color: white;
}

.btn {
font-size: 25px;
}

/*.selectize-input {
/*        height: 100px;
/*        width: 600px;
/*      }*/
      
.form-control {
  font-size: 25px;
  line-height: 1.42857143;
  color: #555;
}

.selectize-control.multi .selectize-input > div {
cursor: pointer;
margin: 0 2px 2px 0;
padding: 10px 3px;
background: #80A4ED;
color: #333333;
border: 0 solid rgba(0, 0, 0, 0);
font-size: 25px;
}

.selectize-control.multi .selectize-input > div.active {
cursor: pointer;
margin: 0 3px 3px 0;
padding: 10px 3px;
border: 0 solid rgba(0, 0, 0, 0);
font-size: 25px;
}


.selectize-control.multi .selectize-input > div[data-value='C/C++']{
background: #00599C;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value='C#']{
background: #813084;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Perl]{
background: #113E62;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Rust]{
background: #000000;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Scala]{
background: #DE3424;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Swift]{
background: #E94F37;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value='Visual Basic']{
background: #506AA0;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=R]{
background: #2566B5;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Python]{
background: #336994;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=JavaScript]{
background: #F3D23C;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Julia]{
background: #369325;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Ruby]{
background: #B01E00;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Java]{
background: #F8981E;
color: white;
}

.selectize-control.multi .selectize-input > div[data-value=Matlab]{
background: #F0800E;
color: white;
}




/*.shiny-html-output {
/*  background-color: #E6E1C5;
/*  border-color: #D4CB92;
/*  width: 500px;
/*  font-size: 13px;
/*}
/*
/*.pre {
/*  color: #395C6B;
/*}
/*
/*.well {
/*  background-color: #b0d6d4;
/*  border-color: #99c4c1;
/*}
/*
/*.control-label {
/*  font-family: 'Patrick Hand', cursive;
/*  color: #80A4ED;
/*  font-size: 17px;
/*}
/*
/*.selectpicker {
/*  color: #356360
/*}
/*
/*img {
/*  width: 150px;
/*  height: 150px;
/*}
/*
/*#update {
/*  font-family: 'Libre Baskerville', serif;
/*  font-size: 20px;
/*  color: #ffffff;
/*  background-color: #000000;
/*  border-color: #000000;
/*}*/